::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4c4c4c;
}

::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f;
}
